@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  a {
    @apply text-blue-900;
  }
} */
@font-face {
    font-family: "GreatVibes";   
    src: local("GreatVibes"),
      url("./fonts/GreatVibes-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "MadeMirage";   
    src: local("MadeMirage"),
      url("./fonts/MadeMirage.otf") format("opentype");
  }
  @font-face {
    font-family: "GillSansNovaBook";   
    src: local("GillSansNovaBook"),
      url("./fonts/GillSansNovaBook.ttf") format("truetype");
  }